body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./res/bg.webp");
}
.container {
    display: flex;
    justify-content: space-between  ;
    flex-direction: row;
}
iframe {
    height: 265px;
    width: 480px;
}
.memePage1{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#searchDiv {
    display: flex;
    flex-direction: row-reverse;
}
#searchLogo {
    margin-left: 15px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.movieInfo {
    visibility: hidden;
    width: 500px;
    padding-left: 8px;
    padding-right: 8px;
    border: dotted black 5px;
    border-radius: 5px;
    font-size: 18px;
}
.boxOffice{
    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;

}
th, td {
    font-weight: unset;
    padding-right: 10px;
    line-height: 1.4;
    font-family: Lato-Bold;
}
th {
  
    font-size: 18px;
    color: #fff;  
    background-color: #6c7ae0;
}
td{
    
     font-size: 15px;
    color: gray;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table {
    border-collapse: collapse;
    border-spacing: 2px;
}
.error {
    visibility: hidden;
}
.active {
    visibility: visible;
}
.hide {
    visibility: hidden;
}
input {
    width: 500px;
    height: 40px;
    border-radius: 20px;
    font-size: large;
    padding-left: 15px;
    padding-right: 15px;
    outline: 0;
    border: solid rgb(168, 168, 168) 1px;
    background-color: rgb(245, 245, 245);
}
button {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    font-size: large;
}
.topRank,.topRelease, td{
    width: 46px;
    height: 29px;
    min-width: 46px;
    min-height: 29px;
}
.contentSize,.topRelease{
    width: 250;
    padding-left: 40px;
}
.Topcontent1{
    font-size: 18px;
    text-align: center;
background-color: beige;
}
.Topcontent2{
    font-size: 18px;
    text-align: center;
    background-color: skyblue;

}
.tophead{
    text-align: center;
}
