body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./res/bg.webp");
}
.container {
    display: flex;
    justify-content: space-between  ;
    flex-direction: row;
}
iframe {
    height: 480px;
    width: 480px;
    display: allowFullScreen;
}
.memePage1,.memePage2 {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#searchDiv {
    display: flex;
    flex-direction: row-reverse;
}
#searchLogo {
    margin-left: 15px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.movieInfo {
    visibility: hidden;
    width: 500px;
    padding-left: 8px;
    padding-right: 8px;
    border: dotted black 5px;
    border-radius: 5px;
}
.error {
    visibility: hidden;
}
.active {
    visibility: visible;
}
input {
    width: 500px;
    height: 40px;
    border-radius: 20px;
    font-size: large;
    padding-left: 15px;
    padding-right: 15px;
    outline: 0;
    border: solid rgb(168, 168, 168) 1px;
    background-color: rgb(245, 245, 245);
}
button {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    font-size: large;
}